@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500&family=Gideon+Roman&family=Raleway:ital,wght@0,100..900;1,100..900&family=Purple+Purse&display=swap");

body {
  height: 100vh;
  font-family: "Gabarito", sans-serif;
  background-color: #f5f5dc;
}
.navbar {
  font-family: "Raleway", sans-serif;
}
.heroContent {
  @apply leading-normal text-[#54350d] font-bold text-center lg:text-5xl xl:text-[3.5rem] lg:text-left;
  font-family: "Gideon Roman", serif;
  font-style: normal;
  letter-spacing: 2px;
}

.box {
  height: 5rem;
  width: 5rem;
  margin: 4px;
}

.btn {
  @apply bg-[#D9534F] md:mt-5 text-[#F5F5DC] p-3 rounded-3xl text-center hover:opacity-75 cursor-pointer;
}

.activeFav {
  @apply bg-[#D9534F];
}

.favHeading {
  font-family: "Purple Purse", serif;
}

.mobileFavClass {
  position: static;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 2rem;
}
